       #Piano{
          color:rgb(255,220,200);
          }
          
          .list{
          color:rgb(255,255,255);
          
          }
          
          a:hover{
            color: purple;
          }
          
          
          
        .list{
          
          opacity: .75;
          font-family: cursive;
          font-size: 30px;
          list-style-type: none;
      }
      
        .list li{
          float: left;
          display: block;
          margin: 5px;
          
        }
        
      
        h1{
        text-align:center;
        color: white;
      }
        h3{
        text-align:center;
      }
       
       
     
     body{
        color: white ; 
        font-family: cursive;
     }
     body{
         background-image:url("https://upload.wikimedia.org/wikipedia/commons/1/19/Dublin_Philharmonic_Orchestra_performing_Tchaikovsky's_Symphony_No_4_in_Charlotte,_North_Carolina.jpg");
        background-size: cover;
        background-repeat: no-repeat;
     }
     
     #Hello{
       color:white;
     }
            
        
        #why{
         text-align: left;
        }
        #h2{
        text-align: center;
        }
        