       
          nav{
          color:rgb(255,255,255);
          
          }
          
          a:hover{
            color:blue;
            font-weight: 900;
            font-size: 150%;
            
          }
          
          
          
        nav{
          
          
          font-family: cursive;
          font-size: 30px;
          list-style-type: none;
      }
      
        nav li{
          float:left; 
          display: block;
          margin: 5px;
          
        }
        
      
        h1{
        text-align:center;
        color: black;
      }
        h3{
        text-align:center;
      }
       
       
       a{
         list-style-type: none;
       }
     
     body{
        color: black ; 
        font-family: cursive;
     }
     body{
        background: url("footer_lodyas.png");
        background-size: cover;
        background-repeat: repeat;
     }
     
     
     .Hello{
       color:white;
     }
            
        
        .why{
         text-align: left;
        }
        .h2{
        text-align: center;
        }
        
        .wrapper{
          width: 960px;
          margin: 0 auto;
        }
        
        .header{
          float:left;
          background: white;
          margin: 10px 0 0 0;
          width: 99.5%;
          height: 100px; 
          }
        
        .main_content{
          float: left;
          background: white;
          margin: 10px 5px 10px 0;
          width: 620px;
          height:630px;
        }
        
        .sidebar{
          float: right;
          background: white;
          margin: 10px 5px 5px 6px;
          width:324px;
          height:630px;
        }
        
        .footer{
  clear: both;
  float: left;
  background: white;
  width: 99.5%;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  
        }
a, u {
    text-decoration: none;
   color:rgb(120,120,120);
}
.search_form{
  margin: 10px 0 100px 70px;
}
.search_form input{
  padding: 5px;
}

.sidebar-list{
  margin:20px;
}
.sidebar-list li{
  list-style: none;
  margin: 10px 0 1px 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}
.sidebar-list li a{
  text-decoration: none;
  color:rgb(120,120,120);
  font-size: 30px;
}
.sidebar-list a:hover{color:blue;
            font-weight: 900;}
  

.pianopic{
  width: 323px;
  height: 100px;
  
}
#pwork{
  width: 600px;
  text-align: center;

}
.music{
  float: none;
  width:323px; 
  margin: 0 0 0 150px;
  border-bottom-width: medium;
}

.music1{
  margin:0 6000px 0 0;
}

.Song{
  font-size: 30px;
  width: 620px;
  text-align: center;
  
}
.main_contentp3{
          
          background: white;
          margin: 10px 5px 10px 0;
          width: 99.5%;
          height: 620px; 
          }
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
tr:hover{
  background-color: yellow;
}
home a{
  color:blue;
}
