nav {
  color: rgb(255, 255, 255);
}

a:hover {
  color: blue;
  font-weight: normal;
}

nav {
  font-family: cursive;
  font-size: 30px;
  list-style-type: none;
}

nav li {
  float: left;
  display: block;
  margin: 5px;
}

h1 {
  text-align: center;
  color: black;
}

a {
  list-style-type: none;
}

body {
  color: black;
  font-family: cursive;
}

nav {
  opacity: .75;
  font-family: cursive;
  font-size: 30px;
  color: black;
}

body {
  background: url("footer_lodyas.png");
  background-size: cover;
  background-repeat: repeat;
}

.Hello {
  color: white;
}

.why {
  text-align: left;
}

.h2 {
  text-align: center;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
  float: left;
  background: white;
  margin: 10px 0 0 0;
  height: 200px;
  position: fixed;
  opacity: .75;
  width: 955.2px;
}

header {
  float: left;
  background: white;
  margin: 10px 0 0 0;
  height: 200px;
  width: 955.2px;
}

.main_content {
  float: left;
  background: white;
  margin: 120px 5px 10px 0;
  width: 620px;
  height: 630px;
}

section {
  float: left;
  background: white;
  width: 955.2px;
  height: 5930px;
}

.sidebar {
  float: right;
  background: white;
  margin: 120px 5px 5px 6px;
  width: 324px;
  height: 630px;
}

footer {
  clear: both;
  float: left;
  background: white;
  width: 99.5%;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 0px;
}

a,
u {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

.search_form input {
  padding: 5px;
}

.sidebar-list {
  margin: 20px;
}

.sidebar-list li {
  list-style: none;
  margin: 10px 0 1px 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}

.sidebar-list li a {
  text-decoration: none;
  color: rgb(120, 120, 120);
  font-size: 30px;
}

.sidebar-list a:hover {
  color: blue;
  font-weight: 900;
}

.pianopic {
  width: 323px;
  height: 200px;
}

.music {
  float: none;
  width: 323px;
  margin: 0 0 0 150px;
  border-bottom-width: medium;
}

.music1 {
  margin: 0 6000px 0 0;
}

.Song {
  font-size: 30px;
  width: 620px;
  text-align: center;
}

.main_contentp3 {
  background: white;
  margin: 10px 5px 10px 0;
  width: 99.5%;
  height: 620px;
  overflow: scroll;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

tr:hover {
  background-color: rgb(192, 192, 192);
}

#home a {
  color: blue;
}

#Yello {
  width: 52%;
  margin: 0 auto;
}

.kl {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.ms {
  float: none;
  float: right;
  margin: 0px 200px 0px 0px;
  width: .1px;
}

iframe {
  width: 300px;
  height: 170px;
}

.hi {
  border-bottom: 1px dotted black;
}

.clearfix:after {
  display: block;
  clear: both;
}
/*----- Menu Outline -----*/

.menu-wrap {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: black;
}

.menu {
  width: 80%;
  margin: 0px auto;
}

.menu li {
  margin: 0px;
  list-style: none;
  font-family: 'Ek Mukta';
}

.menu a {
  transition: all linear 0.15s;
  color: #919191;
}

.menu li:hover > a,
.menu .current-item > a {
  text-decoration: none;
  color: #be5b70;
}

.menu .arrow {
  font-size: 11px;
  line-height: 0%;
}
/*----- Top Level -----*/

.menu > ul > li {
  float: left;
  display: block;
  position: relative;
  font-size: 19px;
}

.menu > ul > li > a {
  padding: 20px 40px;
  position: relative;
  bottom: 19px;
  right: 25px;
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
  background: black;
}
/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
  z-index: 1;
  opacity: 1;
}

.sub-menu {
  width: 100%;
  padding: 5px 0px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: black;
}

.sub-menu li {
  display: block;
  font-size: 16px;
}

.sub-menu li a {
  padding: 10px 30px;
  display: block;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
  background: black;
}

#hiw {
  border: 3px solid black;
  border-top: 3px solid white;
}

.hiww {
  border: black 10px solid;
  float: right;
}

p,
h1,
h2,
h3 {
  font-family: 'Ek Mukta';
}

article {
  background-color: #CCE5FF;
  border: 3px #99CCFF solid;
  width: 700px;
  padding: 10px;
  margin: 0 auto;
}

h3,
h2 {
  text-align: center;
}

article {
  width: 700px;
  margin: 0 auto;
}

table {
  text-align: center;
  width: 706px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
}

article > p {
  font-size: 16px;
}